* {
  font-size: 14px;
  font-weight: 400;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  list-style-type: none;
}

body {
  padding: 20px;
  display: flex;
  flex-direction: column;
  max-width: 700px;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  font-family: Roboto;
  background-color: #f3f3f3;
}

.personalInfo {
  margin: 0 0 20px 0;
  display: flex;
  flex: 1;
  width: 100%;
  align-items: center;
  border-radius: 10px;
  box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.1);
  background-color: #FFF;
}

.personalInfo h1 {
  margin-bottom: 8px;
  font-weight: bold;
  font-size: 24px;
  color: darkslategrey
}

li {
  margin-bottom: 2px;
  color: #afafaf;
}

.brown {
  color: #6b5200;
  font-weight: 800;
}

.formContainer {
  width: 100%;
  display: block;
  max-width: 100%;
  min-height: 60px;
  border-top: 2px solid black;
  margin-top: 20px;
  padding: 20px 0;
}

button {
  font-family: Roboto, Helvetica, sans-serif;
  color: #fff;
  background: none;
  background-color: #7159c1;
  height: 40px;
  width: 150px;
  border: none;
  border-radius: 15px;
  transition: 0.2s;
}

button:hover {
  background-color: darkmagenta;
}

textarea {
  width: 100%;
  max-width: 100%;
  width: 100%;
}

textarea, input {
  border: 1px solid #7159c1;
  border-radius: 8px;
  padding: 5px;
}

textarea::placeholder {
  font-family: Roboto, Helvetica, sans-serif;
}
