 * {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
  text-overflow: unset;
 }

 body {
   background: #2c2727;
   color: white;
   font-family: 'Roboto', sans-serif;
   height: 100vh;
 }

 header {
   display: flex;
   justify-content: center;
   box-shadow: 0 1px 5px 1px #141414;
   align-items: center;
 }

 #search-container {
  font-size: 20px;
  display: flex;
  padding: 10px 0;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 50%;
 }

#search-label {
  padding-right: 20px;
}

#header-input-container {
  width: 100%;
  background: #c3c3c3;
  border-radius: 20px;
}

#search-input {
  background: #c3c3c3;
  border: 0;
  border-radius: 20px;
  width: 100%;
  height: 40px;
  padding: 0 20px;
}

#search-results {
  margin: 30px 20px;
  height: 80%;
  display: flex;
  justify-content: space-between;
}

#user-results {
  background: rgb(56, 56, 56);
  box-shadow: 0 1px 5px 1px #141414;
  border-radius: 20px;
  width: 78%;
  padding: 30px 20px;
  min-width: 280px;
  overflow-x: hidden; 
}

#user-avatar {
  margin-right: 10px;
}

#user-info {
  margin-top: 20px;
  justify-content: center;
  align-items: center;
}

#results-label {
  font-size: 30px;
}

#user-avatar {
  border-radius: 50%;
}
/*=================================*/
#statistics {
  background: rgb(56, 56, 56);
  box-shadow: 0 1px 5px 1px #141414;
  border-radius: 20px;
  align-items: center;
  width: 20%;
  min-width: 180px;
  padding: 30px 20px;
  display: flex;
  flex-direction: column;
}

#statistics-label {
  font-size: 30px;
  margin-bottom: 20px;
}

.statistics-info {
  margin-bottom: 5px;
  font-size: 12px;
}

/* Scrollbar */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #c3c3c3; 
  border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}